/* Background & map canvas */
html,
body {
  overflow-y: auto;
}
.mainheader-offset {
  margin-top: 48px;
}

#map-canvas {
  position: absolute;
  top: 48px;
  bottom: 0px;
  left: 0px; 
  right: 0px;
  z-index: 10;
}


/* Sidebar */
.sidebar-collapsed {
  display:none;  
  background-color: rgba(255, 255, 255, 1.0);
  border: 1px solid rgba(232, 232, 232, 1.0);
  border-radius: 3px;
  padding: 5px;
  width: 38px;
  text-align: center;
  cursor: pointer;
}
.sidebar-collapsed-left {
  position: absolute;
  top: 125px;
  left: 10px;
  z-index: 30;
}
.sidebar {
  top: 75px;
  left: -6px;
  z-index: 30;
}
.slide-sidebar {
  background: rgba(0, 0, 0, 0.0);
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}


 /* Form */
#query_report > .pre-scrollable {
  min-height: 365px;
  overflow-y: scroll;
}
#observations > .pre-scrollable {
  min-height: 60vh;
  overflow-y: scroll;
}
#instructions {
  font-size: 12px;
}