body {
  overflow: hidden;
}
.mainheader-offset {
  margin-top: 48px;
}

#map-canvas {
  position: absolute;
  top: 48px;
  bottom: 0px;
  left: 0px; 
  right: 0px;
  z-index: 10;
}

.sidebar-collapsed {
  display:none;  
  background-color: rgba(255, 255, 255, 1.0);
  border: 1px solid rgba(232, 232, 232, 1.0);
  border-radius: 3px;
  padding: 5px;
  width: 38px;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 10px;
  z-index: 10;
}
.sidebar-collapsed-left {
  position: absolute;
  top: 100px;
  left: 10px;
  z-index: 20;
}
.sidebar {
  top: 52px;
  left: -6px;
  z-index: 30; 
}
.pre-scrollable {
  max-height: 100%;
}
.main-row {
  position: relative; 
  top: 0;
}
sidebar-collapsed:hover {
  cursor: pointer;
  background-color: rgba(232, 232, 232, 1.0);
}
.slide-sidebar {
  background: rgba(0, 0, 0, 0.0);
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}
